<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/style.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('account.static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('account.static', filename='css/main.css') }}">

    <title>Personal Image</title>
</head>
<body>

    <div class="image_container">
        <img src="{{ image_link }}" class="image_container_block">
        <p class="image_container_text">This is a special computer generated ornament.
        It is based on your username. There are 800 billion variants of this ornament.
        Try to find two of the same ;)</p>
    </div>

    <a href="{{ url_for('home.homepage') }}">
      <div class="container-logout100-form-btn">
        <button class="logout100-form-btn">
          Home
        </button>
      </div>
    </a>

</body>
</html>